<launch>
	<!-- <include file="$(find openni_launch)/launch/openni.launch" /> -->
	<node
		name="cluster_dist"
		pkg="obstacle_mapping"
		type="remove_floor"
		args="input:=/camera/depth_registered/points"
	/>
	<!-- <node
		name="listener"
		pkg="obstacle_mapping"
		type="listener"
	/> -->
</launch>
